<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org ">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Snippet Bucket Home</title>
</head>
<body>

<div class="container">
    <br/><br/>

    <a href="/all"><button class="form-control btn btn-primary">show all snippets</button></a>
    <a href="/add"><button class="form-control btn btn-info">add a snippet</button></a>

    <form th:object="${snippet}" method="POST" action="/search">
        <input value="" type="text" class="form-control" th:field="*{title}" placeholder="search titles"/>
        <input value="" type="text" class="form-control" th:field="*{languages}" placeholder="search languages"/>
        <input type="submit" class="form-control btn btn-success" value="snippet search"/>
    </form>

</div>

</body>
</html>