<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org ">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Title</title>
</head>
<body>


<div class="container">

    <br/><br/>
    <form th:object="${snippet}" method="POST" action="/save">
        <input type="text" class="form-control" th:field="*{title}" placeholder="Title"/>
        <input type="text" class="form-control" th:field="*{languages}" placeholder="Languages"/>
        <textarea id="text_area" th:field="*{code}" class="form-control" placeholder="Write your code here." onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}"></textarea>
        <input type="submit" id="input_button" class="form-control btn btn-success"/>
    </form>

</div>

</body>
</html>