<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


        <link rel="stylesheet" href="http://jmblog.github.io/color-themes-for-highlightjs/css/themes/tomorrow.css"/>
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>

        <title>Title</title>
    </head>
    <body>

        <div class="container">
            <br/><br/>

            <div class="well" style="position: relative; border: none;">

                <h2 th:text="${snip.title}"></h2>
                <h4 th:text="${snip.languages}"></h4>
                <pre style="width: 100%; border-radius: 4px; padding: 10px;"><code th:text="${snip.code}"></code></pre>

            </div>

            <a href="/"><button class="btn btn-lg btn-info">return to index</button></a>

        </div>

    </body>
</html>